<!--<h4  (click)="carVisibleHide= 'carVisibleHide=== none'? 'block':'none' " class="neaderMenu">1 Cars</h4>-->

<h4 (click)="listCarVisibleHide()" class="neaderMenu">1 Cars</h4>


<ul [ngStyle]="{display:carVisibleHide }">
  <li class="listCar">
    <input type="text" #carnm (keyup)="addcarName(carnm.value)" placeholder="Car Name">
    <!--<span class="">&times;</span>-->
  </li>
  <li class="listCar">
    <input type="text" #colorcar (keyup)="addcarColor(colorcar.value)" placeholder="Color">
  </li>
  <li class="listCar">
    <input type="text" #engcps (keyup)="addcarengineCapacity(engcps.value)" placeholder="Engine Capacity">
  </li>

  <li>
    <div class="add">+</div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="add">-</div>
  </li>

</ul>


<div>
  <h4 class="neaderMenu" (click)= "listYachtVisibleHide()">2 Yachts</h4>
</div>
<ul [ngStyle]="{display:yachtVisibleHide }">
  <li class="listCar">

    Yacht Class: <select #ycl (change)="addYachtClass(ycl.value)">
    <option value=""></option>
    <option value="1">1</option>
    <option value="1">2</option>
  </select>
    <!--<span class="">&times;</span>-->
  </li>
  <li class="listCar">
    <input type="text" #st (keyup)="addState(st.value)" placeholder="State">
  </li>

  <li>
    <div class="add">+</div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="add">-</div>
  </li>
</ul>


<br>
<!--<input (click)="addProducts()"  type="submit" value="Send to Server">-->
<button (click)="addProducts()" >Send to Server</button>

<div class="display">


  <h4 *ngIf="carName" style="color:#5365ff">Car Name</h4>
  {{carName}}

  <h4 *ngIf="colorCar">Color</h4>
  {{colorCar}}

  <h4 *ngIf="engineCapacity">Engine Capacity</h4>
  {{engineCapacity}}


  <h4 *ngIf="yachtClass || stateYacht" style="color:blue">Yacht</h4>

  <!--<h4 *ngIf="yachtClass" style="color:#5365ff">Yacht</h4>-->
  <h4 *ngIf="yachtClass">Yacht Class</h4>
  {{yachtClass}}

  <h4 *ngIf="stateYacht">State</h4>
  {{stateYacht}}

</div>


