
/*dataparcer*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
/************************/
.hiddenElement{
  //display: none;
}

.showElement{
  display: block;

}
.test{
  color: yellow;
}
